@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap');

:root {
    --green: #0C5449;
    --dg: #053432;
    --gold: #FFCC33;
    --white: #FFFFFF;
    --lg: #f0f0f0;
    --tg: #555;
    --t: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    line-height: 1.7;
}

body {
    .header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-content: center;
        .uni-logo {
            grid-column: 1;
            width: 18vw;
            height: auto;
            padding: 2.5vh 3vw 2.5vh 3vw;
            margin: 0vh 2vw 0vh 2vw;
        }
        .right {
            padding-top: 5vh;
            .title {
                text-align: center;
                font-size: 5.4vh; 
                grid-column: 2;
                font-weight: 500;
            }
            .nav-bar {
                display: flex;
                justify-content: center;
                padding: 2vh 0vw 4vh 0vw;
                .l {
                    margin: 0vh 1vw 0vh 1vw;
                    padding: 2vh 1vw 2vh 1vw;
                    font-size: 3vh;
                    color: var(--green);
                    font-weight: 400;
                    &:hover {
                        color: var(--dg);
                        background-color: var(--lg);
                    }    
                }
            }
        }
    }

    .code-container {
        background-color: var(--lg);
        padding: 6vh 8vw 8vh 8vw;
        min-height: 80vh;
        
        .git {
            margin-bottom: 6vh;
            background-color: var(--white);
            padding: 6vh 6vw;
            border-radius: 1vh;
            text-align: center;

            h2 {
                font-size: 4.5vh;
                color: var(--dg);
                font-weight: 500;
                margin-bottom: 1.5vh;
            }

            .git-links {
                display: flex;
                justify-content: center;
                gap: 5vw;
                margin-top: 4vh;
                flex-wrap: wrap;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20vw;
                    padding: 2.5vh 2vw;
                    font-size: 2.6vh;
                    font-weight: 500;
                    color: var(--green);
                    background-color: var(--lg);
                    border-radius: 1vh;

                    &:hover {
                        background-color: #e6e6e6;
                        color: var(--dg);
                    }
                }
            }

        }

        .overview {
            margin-bottom: 6vh;
            background-color: var(--white);
            padding: 6vh 6vw 6vh 6vw;
            border-radius: 1vh;
            
            h2 {
                font-size: 4.5vh;
                color: var(--dg);
                font-weight: 500;
                margin-bottom: 4vh;
                text-align: center;
            }
            
            .pa {
                font-size: 2.4vh;
                color: var(--tg);
                margin-bottom: 2.5vh;
            }
        }

        .documentation {
            background-color: var(--white);
            padding: 5vh 6vw 5vh 6vw;
            border-radius: 1vh;
            text-align: center;
            
            a {
                font-size: 2.6vh;
                color: var(--green);
                font-weight: 500;
                text-decoration: none;
                
                &:hover {
                    color: var(--dg);
                    text-decoration: underline;
                }
            }
        }
    }
}
