<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effects of Drone Downwash on Pesticide Coverage</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header class="header">
        <img src="../static/images/wayne.png" alt="Wayne State University" class="uni-logo">
        <div class="right">
            <h1 class="title">Effects of Drone Downwash on Pesticide Coverage</h1>
            <nav class="nav-bar">
                <a href="index.html" class="l">Home</a>
                <a href="overview.html" class="l">Overview</a>
                <a href="research.html" class="l">Research</a>
                <a href="code.html" class="l">Code</a>
            </nav>
        </div>
    </header>

    <main class = "home-container">
        <div class="people">
            <h2>About the Team</h2>
            <div class="people-card">
                <div class="p1"> 
                    <img src ="/static/images/keegan.png" alt="Keegan Miller" class="keegan-image">
                    <div class="desc">
                        <h3 class="person-name">Keegan Miller</h3>
                        <p class="person-description">Keegan is a senior undergraduate student at Wayne State University studying computer science.</p>
                        <p class="contact">Contact: <a href="mailto:miller.keegan@wayne.edu">miller.keegan@wayne.edu</a></p>
                    </div>
                </div>
                <div class="p2"> 
                    <div class="desc">
                        <h3 class="person-name">Dr. Yanchao Liu</h3>
                        <p class="person-description">Dr. Yanchao Liu is an Associate Professor in the Department of Industrial and Systems Engineering at Wayne State University. 
                            Dr. Liu received his Ph.D. degree from the University of Wisconsin-Madison, M.S. from the University of Arkansas, and B.S. 
                            from Huazhong University of Science and Technology, all in Industrial Engineering.</p>
                        <p class="contact">Contact: <a href="mailto:yanchaoliu@wayne.edu">yanchaoliu@wayne.edu</a></p>
                        </div>
                    <img src="../static/images/prof.jpg" alt="Dr. Yanchao Liu" class="prof-image"> 
                </div>
                <div class="p3"> 
                    <img src="../static/images/joelle.jpg" alt="Joelle Yang" class="joelle-image">
                    <div class="desc">
                        <h3 class="person-name">Joelle Yang</h3>
                        <p class="person-description">Joelle is a student at Northfield Mount Hermon School.</p>
                        <p class="contact">Contact: <a href="mailto:joellejingyaoyang@gmail.com">joellejingyaoyang@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <h3 class="sub">Acknowledgements</h3>
            <p class="acknowledgements">
                The work is partially supported by Michigan Space Grant Consortium’s award, and by the National Science Foundation’s grant CMMI 1944068. Brandon Kantz from Aerial Missions, LLC piloted the drone during field spraying experiments.  
            </p>
        </div>
    </main>
</body>

</html>
